.container
	section.countdown(data-target=`${EVENT.MONTH}-${EVENT.DAY}-${EVENT.YEAR}`)
		.countdown__title ESTAMOS CONTANDO OS SEGUNDOS PARA#[br]ESSE MOMENTO TÃO ESPECIAL
		.countdown__content
			.countdown__block
				.countdown__number 00
				.countdown__text DIAS
			.countdown__block
				.countdown__number 00
				.countdown__text HORAS
			.countdown__block
				.countdown__number 00
				.countdown__text MINUTOS
			.countdown__block
				.countdown__number 00
				.countdown__text SEGUNDOS