footer.footer
	.container.footer__container
		.footer__left
			.footer__text Jenyfer e Leonardo - Todos os direitos reservados © | 2020 - Todo o sempre
		.footer__right
			.footer__text Desenvolvido por#[br]JHONNY IZIDORO MENARIM
			.footer__text #[.icon.icon--envelope] jhonny-cwb@hotmail.com