section.gifts
	.gifts__header
		img.gifts__image(data-src="/images/gifts/background.jpg", loading="lazy", alt="Lista de presentes", title="Lista de presentes")
		.gifts__title Lista de Presentes
	.container.gifts__container
		.gifts__block
			.gifts__block__title LISTA VIRTUAL
			.gifts__block__text Ajude-nos a montar o nosso novo lar diretamente por esse site! Aqui vocês poderão encontrar nossa  lista de presentes.#[br]Obrigado pelos mimos!
			a.button.button--purple(href="/produtos") VER LISTA VIRTUAL
		.gifts__block
			.gifts__block__title LISTA EM LOJAS
			.gifts__block__text Ajude-nos a montar o nosso novo lar diretamente por esse site! Aqui vocês poderão encontrar nossa  lista de presentes.#[br]Obrigado pelos mimos!
			a.button.button--purple(href="#") VER LISTA EM LOJAS
	include ../components/Divider