header.header
	img.header__background(src="/images/header/background.png", alt=`Foto principal ${APP_NAME}`, title=`Foto principal ${APP_NAME}`)
	.header__content
		h1.header__title
			.header__large Jenyfer &#[br]Leonardo
			.header__small #[span.header__purple -] 01#[span.header__purple .]01#[span.header__purple .]2020 #[span.header__purple -]
		h2.header__subtitle * * * NÓS VAMOS NOS CASAR * * *
		.header__icons
			.header__icon.icon.icon--heart
			.header__icon.icon.icon--heart
	img.header__divider(src="/images/header/divider.png", alt="Divisor aquarela", title="Divisor aquarela")