doctype html
html(lang="pt-br")
	head
	title Oops, um erro inesperado aconteceu!
	link(rel='shortcut icon', href='/favicon/favicon.ico')
	style.
		:root {
			--background: #FAFAFA;
			--primary: #525278;
			--dark: #222544;
		}
		body,
		html {
			height: 100%;
		}
		body {
			align-items: center;
			background: var(--background);
			color: var(--dark);
			display: flex;
			flex-direction: column;
			font-family: sans-serif;
			justify-content: center;
			margin: 0;
			text-align: center;
		}
		a {
			background: var(--primary);
			border-radius: 99px;
			box-shadow: 1px 2px 6px rgba(0, 0, 0, .3);
			color: var(--background);
			display: inline-block;
			letter-spacing: 1px;
			padding: 10px 20px;
			text-decoration: none;
			transition: 100ms;
		}
		a:hover {
			transform: scale(1.01) translateY(-2px);
		}
	body
		h1 Oops, um erro inesperado aconteceu!
		a(href='/') Clique para retornar