extends templates/main
block Content
	include components/Header
	include components/About
	include components/Gifts
	include components/Gallery
	include components/Confirmation
	include components/Event
	include components/Countdown