doctype html
html(lang="pt-br")
	head
	include ../components/Head
	body
		include ../components/Navbar
		block Content
		include ../components/Footer
		include ../components/Alert
		script(src=asset('/js/app.js'))
		block Scripts