doctype html
html(lang="pt-br")
	head
	include ../components/Head
	body
		include ../components/Navbar
		include ../components/Header
		include ../components/About
		include ../components/Gifts
		include ../components/Gallery
		block Content
		include ../components/Foot
		block Scripts