.button
	+font(1.1rem, $c: $white)
	border: none
	box-shadow: $shadow-1
	display: inline-block
	transition: 250ms
	&:hover
		transform: skew(-10deg)
	&--purple
		background: $purple
		padding: 15px 30px
	&--orange
		background: $orange
		padding: 13px 30px
	&--icon
		margin-left: 7px
		transform: translateY(1px)