.default
	+flex($d: column)
	margin: 0 auto
	width: 400px
	&__title
		+font(3rem, $c: $purple, $f: 'Great Vibes', $a: center)
		margin-bottom: 10px
	&__input,
	&__select,
	&__file
		margin-bottom: 7px
	&__input,
	&__select
		+font(1.5rem, $f: 'Open Sans Condensed')
		border: 1px solid $light
		padding: 10px 7px
		&::placeholder
			color: $light
	&__file
		box-shadow: $shadow-1
		padding: 12px 0
		position: relative
		transition: 250ms
		&:hover
			transform: skew(-10deg)
		&::after
			+font(1.1rem, $c: $white)
			+position(0, 0)
			+size(100%)
			+flex(center, center)
			background: $purple
			content: attr(data-placeholder)
			cursor: pointer

.search
	+flex
	padding: 10px
	&__input,
	&__select
		+font(1.5rem, $f: 'Open Sans Condensed')
		border: 1px solid $light
		margin-right: 10px
		padding: 10px 7px
		&::placeholder
			color: $light
	&__input
		flex-grow: 3
	&__select
		flex-grow: 1

.payment
	+position(0, 0, $p: fixed)
	+size(100%)
	+flex(center, center)
	visibility: hidden
	z-index: 4
	&__wrapper
		background: $white
		width: 400px
		opacity: 0
		padding: 20px
	&__input,
	&__textarea
		+font(1.5rem, $f: 'Open Sans Condensed')
		border: 1px solid $light
		width: 100%
		margin-bottom: 7px
		padding: 10px 7px
		&::placeholder
			color: $light
	&__textarea
		height: 8rem
	&__buttons
		+flex($g: 1, $b: 0)
		display: none
		>*:nth-child(1)
			margin-right: 5px
	&--visible
		backdrop-filter: blur(15px) brightness(.5)
		transition: 1500ms
		visibility: visible
		.payment
			&__wrapper
				opacity: 1
				transition: 350ms
			&__buttons
				display: flex

+tablet
	.default
		margin: 0 5%
		width: 90%
	.search
		flex-direction: column
		padding: 20px 0
		&__input,
		&__select
			margin: 0 0 10px
	.payment
		&__wrapper
			margin: 0 10px
			width: auto