.confirmation
	+flex($d: column)
	margin: 0 auto
	width: 400px
	&__title
		+font(3rem, $c: $purple, $f: 'Great Vibes', $a: center)
		margin-bottom: 10px
	&__input
		+font(1.5rem, $f: 'Open Sans Condensed')
		border: 1px solid $light
		margin-bottom: 7px
		padding: 10px 7px
		&::placeholder
			color: $light

+tablet
	.confirmation
		margin: 0 5%
		width: 90%