.navbar
	&__container
		+flex(space-between, center)
		padding: 15px 0
	&__logo__image
		height: 50px
	&__link
		background: transparent
		border-bottom: 2px solid transparent
		margin: 0 10px
		transition: 200ms
		&:hover
			border-bottom-color: $orange