.navbar
	border-bottom: 1px solid $light
	&__container
		+flex(space-between, center)
		padding: 15px 0
	&__logo__image
		height: 50px
	&__link
		background: transparent
		border-bottom: 2px solid transparent
		cursor: pointer
		display: inline-block
		margin: 0 10px
		transition: 200ms
		&:hover
			border-bottom-color: $orange

+tablet
	.navbar
		&__container
			+position(0, 0, $p: fixed)
			background: $white
			box-shadow: $shadow-1
			padding: 10px 15px
			z-index: 1
		&__links
			+position(0, $l: 0, $p: fixed)
			background: $purple
			box-shadow: $shadow-2
			height: 100%
			overflow: auto
			padding-top: 30px
			transform: translateX(-105%)
			transition: 250ms $cubic-bezier
			width: 280px
			&.is-active
				transform: none
		&__link
			+font(1.3rem, $c: $white, $a: center)
			display: block
			padding: 20px 0